.decor-bg {
  position: absolute;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.decor-bg--right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.decor-bg--right-bottom {
  right: 0;
  top: 80%;
  transform: translateY(-50%);
}

.decor-bg--top-right {
  right: 0;
  top: 10%;
  transform: translateY(-50%);
}

.decor-bg--top-right-2 {
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}

.decor-bg--top-right-3 {
  right: 0;
  top: 20%;
  transform: translateY(-50%);
}

.decor-bg--top-right-4 {
  right: 0;
  top: 54%;
  transform: translateY(-50%);
}


.decor-bg--top-left {
  top: 12%;
  transform: translateY(-50%);
  left: 8%;
}

.decor-bg--top-left-2 {
  top: 12%;
  transform: translateY(-50%);
  left: 0;
}

.decor-bg--top-left-3 {
  top: 30%;
  transform: translateY(-50%);
  left: 0;
}

.decor-bg--top-left-4 {
  top: 110%;
  transform: translateY(-50%);
  left: 0;
}

.decor-bg--top-left-5 {
  width: 100%;
  top: 60%;
  transform: translateY(-50%);
  left: 0;

  img {
    width: 100%;
  }
}


.decor-bg--bottom-left {
  top: 70%;
  transform: translateY(-50%);
  left: 0;
}

.decor-bg--top-center {
  bottom: 0%;
  transform: translateY(30%);
  right: 0;
  width: 100%;
}

.decor-bg--top-left-50 {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-35%);
}

.decor-bg--bottom-center {
  bottom: -20%;
  left: 50%;
  transform: translateX(-35%);
}