.currencies {
  overflow: hidden;

  &--subhero {
    margin-top: 0 !important;
  }

  // .currencies__inner

  &__inner {}

  // .currencies__slider

  &__slider {
    overflow: visible;
  }

  // .currencies__slider-wrapper

  &__slider-wrapper {
    transition-timing-function: linear;
  }

  &__slider-wrapper--center {
    justify-content: center;

    @include tablet {
      justify-content: flex-start;
    }
  }

  // .currencies__slide

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #0c1220;
    border-radius: 10px;

    img {
      max-width: 200px;
      width: 100%;
      height: auto;
      padding: 20px;
    }

    @include mobile {
      width: 100px;
      height: 100px;
    }
  }
}

.icon--token {
  width: 60px;
  height: 60px;
  fill: #a7bed3;

  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.icon--token-lightning {
  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.icon--token-large {
  width: 220px;
  height: 40px;
  fill: transparent;
  stroke: #a7bed3;
}