.form {

  // .form__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
  }

  &__inner--bg-blue {
    background-color: #0c1220;
    border-radius: 20px;

    .form__picture {
      padding: 40px 0 0;

    }
  }

  // .form__info

  &__info {}

  // .form__picture

  &__picture {
    img {
      max-width: 100%;
    }
  }

  // .form__main

  &__main {}

  // .form__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 54px 64px;
    background-color: #0c1220;
    border-radius: 20px;

    @include tablet {
      padding: 24px 32px;
    }

    @include small-mobile {
      padding: 24px 16px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 120%;
    color: var(--white-color);

    @include mobile {
      font-size: 18px;
    }
  }

  // .form__groups

  &__groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 12px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .form__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  // .form__label

  &__label {
    font-size: 14px;
    line-height: 120%;
    color: var(--white-color);
  }

  // .form__input

  &__input {
    height: 48px;
    width: 100%;
    padding: 8px 20px;
    background-color: #1d2537;
    border-radius: 8px;

    font-size: 14px;
    line-height: 120%;
    color: var(--white-color);

    &::placeholder {
      font-family: var(--font-main);
      font-size: 14px;
      line-height: 120%;
      color: #c7c7c7;
    }
  }

  // .form__textarea

  &__textarea {
    resize: none;
    height: 100px;
  }

  // .form__btn

  &__btn {
    margin-top: 12px;
    width: 100%;
    height: 60px;
  }
}