.form {

  // .form__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
  }

  &__inner--bg-blue {
    background-color: #0c1220;
    border-radius: 20px;

    .form__picture {
      padding: 40px 0 0;

    }
  }

  // .form__info

  &__info {}

  // .form__picture

  &__picture {
    img {
      max-width: 100%;
    }
  }

  // .form__main

  &__main {}

  // .form__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 54px 64px;
    background-color: #0c1220;
    border-radius: 20px;

    @include tablet {
      padding: 24px 32px;
    }

    @include small-mobile {
      padding: 24px 16px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 120%;
    color: var(--white-color);

    @include mobile {
      font-size: 18px;
    }
  }

  // .form__groups

  &__groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 12px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .form__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  // .form__label

  &__label {
    font-size: 14px;
    line-height: 120%;
    color: var(--white-color);
  }

  // .form__input

  &__input {
    height: 48px;
    width: 100%;
    padding: 8px 20px;
    background-color: #1d2537;
    border-radius: 8px;
    outline: 0;
    border: 1px solid transparent;

    font-size: 14px;
    line-height: 120%;
    color: var(--white-color);

    &::placeholder {
      font-family: var(--font-main);
      font-size: 14px;
      line-height: 120%;
      color: #c7c7c7;
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--green);
      }
    }
  }

  // .form__textarea

  &__textarea {
    resize: none;
    height: 100px;
  }

  // .form__btn

  &__btn {
    margin-top: 12px;
    width: 100%;
    height: 60px;
  }
}

.form {

  // .form__checkbox

  &__checkbox {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  // .form__checkbox-input

  &__checkbox-input {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -100;
    opacity: 0;

    &:checked~.form__checkbox-square {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6449 3.21559C12.715 3.27571 12.7727 3.34906 12.8144 3.43146C12.8562 3.51385 12.8814 3.60368 12.8884 3.69579C12.8955 3.78791 12.8843 3.88051 12.8555 3.9683C12.8268 4.0561 12.781 4.13737 12.7208 4.20747L7.09583 10.77C7.03276 10.8435 6.95517 10.9033 6.86792 10.9455C6.78067 10.9876 6.68564 11.0113 6.58881 11.015C6.49197 11.0187 6.39542 11.0023 6.30521 10.9669C6.215 10.9315 6.13307 10.8779 6.06458 10.8093L2.78333 7.52809C2.65531 7.39542 2.58452 7.21777 2.58621 7.03342C2.5879 6.84906 2.66193 6.67274 2.79236 6.54244C2.92278 6.41213 3.09917 6.33827 3.28353 6.33676C3.46789 6.33524 3.64547 6.4062 3.77802 6.53434L6.52302 9.2784L11.654 3.29247C11.7753 3.15108 11.9479 3.06366 12.1337 3.04942C12.3195 3.03518 12.5034 3.09435 12.6449 3.21559Z' fill='%230C1220'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
    }
  }

  // .form__checkbox-square

  &__checkbox-square {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: var(--white-color);
  }

  // .form__checkbox-text

  &__checkbox-text {
    font-size: 11px;
    line-height: 120%;
    color: #ededed;
  }
}