.pricing {

  // .pricing__inner

  &__inner {

    .section-head {
      max-width: 800px;
      margin: 0 auto 120px;

      @include mobile {
        margin: 0 auto 60px;
      }
    }
  }

  // .pricing__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;

    @include tablet {
      column-gap: 24px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .pricing__item

  &__item {
    display: grid;
    row-gap: 48px;
    padding: 48px;
    background-color: #0c1220;
    border: 4px solid transparent;
    border-radius: 20px;

    @include tablet {
      padding: 32px 24px;
    }

    @include mobile {
      row-gap: 32px;
    }
  }

  // .pricing__item-label

  &__item-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 24px;
    background-color: var(--green);
    border-radius: 17px;

    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: var(--white-color);

  }

  // .pricing__item-info

  &__item-info {
    display: grid;
    row-gap: 16px;
  }

  // .pricing__item-title

  &__item-title {
    font-family: var(--font-second);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--white-color);

    @include tablet {
      font-size: 24px;
    }
  }

  // .pricing__item-text

  &__item-text {
    font-size: 16px;
    line-height: 120%;
    color: var(--white-color);
  }

  // .pricing__item-list

  &__item-list {
    display: grid;
    row-gap: 16px;
  }

  // .pricing__item-item

  &__item-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    color: var(--white-color);
  }

  // .pricing__item-icon

  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 100%;
    background-color: var(--green);
  }

  // .pricing__item-descr

  &__item-descr {
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--white-color);
  }

  // .pricing__item-btn

  &__item-btn {
    width: 100%;
    height: 60px;
  }

  // .pricing__item--active

  &__item--active {
    transform: translateY(-50px);
    background:
      linear-gradient(226deg, #0c1220 0%, #0c1220 100%) padding-box,
      linear-gradient(226deg, #39d24e 0%, #7fb600 100%) border-box;

    @include mobile {
      transform: translateY(0);
    }
  }
}

.icon--gravity-heck {
  width: 10px;
  height: 10px;
  fill: var(--white-color);
  stroke: var(--white-color);
}

.icon--plus {
  width: 10px;
  height: 10px;
  fill: var(--white-color);
  stroke: var(--white-color);
}