.section-title {
  font-family: var(--font-titles);
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: var(--white-color);

  @include tablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 32px;
  }

  @include small-mobile {
    font-size: 24px;
  }
}

.title-1 {
  margin: 1em 0 0.5em;
  font-size: 38px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-2 {
  margin: 1em 0 0.5em;
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-h3 {
  font-family: var(--font-titles);
  font-size: 36px;
  font-weight: 700;
  color: var(--white-color);

  @include desktop-small {
    font-size: 28px;
  }

  @include small-mobile {
    font-size: 24px;
  }
}

.title-h4 {
  font-family: var(--font-titles);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: var(--white-color);

  @include tablet {
    font-size: 16px;
  }

  @include small-mobile {
    font-size: 14px;
  }
}