.section-title {
  font-family: var(--font-titles);
  font-size: 64px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  color: var(--white-color);

  &--left {
    text-align: left;
  }

  @include tablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 32px;
  }

  @include small-mobile {
    font-size: 24px;
  }
}

.section-text {
  margin-top: 24px;
  text-align: center;
  font-size: 20px;
  line-height: 120%;
  color: #888;

  &--left {
    text-align: left;
  }
}

.title-h3 {
  font-family: var(--font-titles);
  font-size: 36px;
  font-weight: 700;
  color: var(--white-color);

  @include desktop-small {
    font-size: 28px;
  }

  @include small-mobile {
    font-size: 24px;
  }
}

.title-h4 {
  font-family: var(--font-titles);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: var(--white-color);

  @include tablet {
    font-size: 16px;
  }

  @include small-mobile {
    font-size: 14px;
  }
}